{% extends 'base.html.twig' %}

{% block title %}Changement de mot de passe{% endblock %}

{% block body %}
<h1 class="center-h1">Changement de mot de passe</h1>
<br>

<div class="card border-dark mb-3 mx-auto rounded" style="max-width: 40rem;">
    <div class="card-header">Veuillez renseigner votre nouveau mot de passe</div>
        <div class="card-body">
            <p class="card-title">Identifiant du compte : {{ email }}</p>
            <br>
            {{ form_start(form) }}

            <label class="form-label">
                {{ form_label(form.plainPwd.first, "Nouveau mot de passe") }}
            </label>
            {% if form_errors(form.plainPwd.first) %}
                {{ form_widget(form.plainPwd.first, {'attr': {'class': 'form-control is-invalid'}}) }}
                <div class="invalid-feedback">
                    {{ form_errors(form.plainPwd.first) }}
                </div>
            {% else %}
                {{ form_widget(form.plainPwd.first, {'attr': {'class': 'form-control'}}) }}
            {% endif %}

            <br>
            <label class="form-label">
                {{ form_label(form.plainPwd.second, "Confirmation du mot de passe") }}
            </label>
            {% if form_errors(form.plainPwd.second) %}
                {{ form_widget(form.plainPwd.second, {'attr': {'class': 'form-control is-invalid'}}) }}
                <div class="invalid-feedback">
                    {{ form_errors(form.plainPwd.second) }}
                </div>
            {% else %}
                {{ form_widget(form.plainPwd.second, {'attr': {'class': 'form-control'}}) }}
            {% endif %}
            
            
            <br>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <button type="submit" id="bouton" class="btn btn-success">Enregistrer les modifications</button>
            
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
