{% extends 'base.html.twig' %}

{% block title %}Changement de mot de passe{% endblock %}

{% block body %}
<h1>Changement de mot de passe</h1>

<h3>Identifiant du compte : {{ email }}</h3>
<h3>Veuillez renseigner votre nouveau mot de passe</h3>

<div>
    {{ form_start(form) }}

    {{ form_errors(form.plainPwd.first) }}
    {{ form_label(form.plainPwd.first, "Nouveau mot de passe") }}
    {{ form_widget(form.plainPwd.first) }}
    

    <br>
    {{ form_errors(form.plainPwd.second) }}
    {{ form_label(form.plainPwd.second, "Confirmation du mot de passe") }}
    {{ form_widget(form.plainPwd.second) }}
    
    
    <br>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    <button type="submit" id="bouton" class="btn btn-success">Enregistrer les modifications</button>
    
    {{ form_end(form) }}
</div>
{% endblock %}
