{% extends 'base.html.twig' %}

{% block title %}Changement de mot de passe{% endblock %}

{% block body %}
<h1 class="center-h1">Changement de mot de passe</h1>
<br>
<h3>Identifiant du compte : {{ email }}</h3>
<h3>Veuillez renseigner votre nouveau mot de passe</h3>

<div>
    {{ form_start(form) }}

    <label class="form-label">
        {{ form_label(form.plainPwd.first, "Nouveau mot de passe") }}
    </label>
    {% if form_errors(form.plainPwd.first) %}
        {{ form_widget(form.plainPwd.first, {'attr': {'class': 'form-control is-invalid'}}) }}
        <div class="invalid-feedback">
            {{ form_errors(form.plainPwd.first) }}
        </div>
    {% else %}
        {{ form_widget(form.plainPwd.first, {'attr': {'class': 'form-control'}}) }}
    {% endif %}

    <br>
    <label class="form-label">
        {{ form_label(form.plainPwd.second, "Confirmation du mot de passe") }}
    </label>
    {% if form_errors(form.plainPwd.second) %}
        {{ form_widget(form.plainPwd.second, {'attr': {'class': 'form-control is-invalid'}}) }}
        <div class="invalid-feedback">
            {{ form_errors(form.plainPwd.second) }}
        </div>
    {% else %}
        {{ form_widget(form.plainPwd.second, {'attr': {'class': 'form-control'}}) }}
    {% endif %}
    
    
    <br>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    <button type="submit" id="bouton" class="btn btn-success">Enregistrer les modifications</button>
    
    {{ form_end(form) }}
</div>
{% endblock %}
