{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}

<h1>Mon compte</h1>

<p>Nom : {{ user.nom }}</p>
<p>Prénom : {{ user.prenom }}</p>
<p>Email : {{ user.email }}</p>
<p>Date de création du compte : le {{ user.dateCreation | date('d/m/Y') }}</p>
<a href="{{ path('app_change_password') }}" class="btn btn-primary">Changement de mot de passe</a>
{% endblock %}
