{% extends 'base.html.twig' %}

{% block title %}Liste des joueurs{% endblock %}

{% block body %}

<style>
    .joueur.hidden {
        display: none;
    }
</style>

<h1>Liste des joueurs du club {{ club.nom }}</h1>
{% if joueurs|length > 0 %}
    <table id="tableau">
        <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Âge</th>
                <th>Photo</th>
            </tr>
        </thead>
        <tbody>
            {% for joueur in joueurs %}
                <tr>
                    <td>{{ joueur.prenom }}</td>
                    <td>{{ joueur.nom }}</td>
                    <td>{{ joueur.age }} ans</td>
                    <td>
                        {% if joueur.photo is not null %}
                            <img src="{{ asset('images/joueurs/' ~ joueur.photo) }}" style="width: 30%;">
                        {% else %}
                            <span>Aucune photo disponible</span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Aucun joueur trouvé pour ce club</p>
{% endif %}

<script>
$(document).ready(function() {
    $('#tableau').DataTable({
        pagingType: 'full_numbers',
        lengthMenu: [5, 10, 20],
        language: {
            "search":         "Recherche:",
            "zeroRecords":    "Aucun résultat",
            "lengthMenu":     "Nombre de joueurs par page: _MENU_",
            "emptyTable":     "Aucune donnée",
            "info":           "Joueur _START_ à _END_ sur _TOTAL_ joueurs",
            "infoEmpty":      "Joueur 0 à 0 sur 0 joueurs",
            "paginate": {
                "first":      "Premier",
                "last":       "Dernier",
                "next":       "Suivant",
                "previous":   "Précédent"
    },
        }
    });
});
</script>

{% endblock %}
