{% extends 'base.html.twig' %}

{% block title %}Liste des clubs{% endblock %}

{% block body %}

<h1 class="center-h1">Liste des Clubs de la Ligue 3il</h1>

{% if is_granted('ROLE_LIGUE') %}
    <div>
        <a href="{{ path('app_club_nouveau') }}" class="btn btn-success">Ajouter un club</a>
    </div>
{% endif %}
<br>

<div class="row">
    {% for club in clubs %}
        <div class="col-md-3">
            <div class="card border-primary mb-3 rounded" style="max-width: 18rem;">
                <a href="{{ path('app_club_detail', {'id': club.id}) }}">
                    <div class="card-header">
                        {{ club.nom }}
                    </div>
                </a>
                <div class="card-body">
                    <p class="card-text">à {{ club.ville }}</p>
                    {% if is_granted('ROLE_LIGUE') %}
                        <a href="{{ path('app_club_modif', {'id': club.id}) }}" class="btn btn-primary">Modifier</a>
                        <a href="{{ path("app_club_supprimer", {"id": club.id}) }}" class="btn btn-danger">Supprimer</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}