{% extends 'base.html.twig' %}

{% block title %}Modification du club{% endblock %}

{% block body %}

<h1 class="center-h1">Rentrez les nouvelles informations du club</h1>
<br>

<div>
    {{ form_start(ModifClubForm) }}

        <label class="form-label">
            {{ form_label(ModifClubForm.nom, "Nom") }}
        </label>
        {% if form_errors(ModifClubForm.nom) %}
            {{ form_widget(ModifClubForm.nom, {'attr': {'class': 'form-control is-invalid'}}) }}
            <div class="invalid-feedback">
                {{ form_errors(ModifClubForm.nom) }}
            </div>
        {% else %}
        {{ form_widget(ModifClubForm.nom, {'attr': {'class': 'form-control'}}) }}
        {% endif %}
        <br>

        <label class="form-label">
            {{ form_label(ModifClubForm.ville, "Ville") }}
        </label>
        {% if form_errors(ModifClubForm.ville) %}
            {{ form_widget(ModifClubForm.ville, {'attr': {'class': 'form-control is-invalid'}}) }}
            <div class="invalid-feedback">
                {{ form_errors(ModifClubForm.ville) }}
            </div>
        {% else %}
        {{ form_widget(ModifClubForm.ville, {'attr': {'class': 'form-control'}}) }}
        {% endif %}
        <br>

        <label class="form-label">
            {{ form_label(ModifClubForm.description, "Description") }}
        </label>
        {% if form_errors(ModifClubForm.description) %}
            {{ form_widget(ModifClubForm.description, {'attr': {'class': 'form-control is-invalid'}}) }}
            <div class="invalid-feedback">
                {{ form_errors(ModifClubForm.description) }}
            </div>
        {% else %}
        {{ form_widget(ModifClubForm.description, {'attr': {'class': 'form-control'}}) }}
        {% endif %}

        <br>
        <button type="submit" class="btn btn-success">Enregistrer les modifications</button>
    {{ form_end(ModifClubForm) }}
</div>

{% endblock %}